<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tubespw_mehtravelling">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:usesCleartextTraffic="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TubesPW_MehTravelling">
        <activity
            android:name=".profile.EditProfileFragment"
            android:exported="true" />
        <activity
            android:name=".survey.AddEditActivity"
            android:exported="true" />
        <activity
            android:name=".survey.SurveyActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".listDestinasi.TampilDataDestinasi"
            android:exported="true" />
        <activity
            android:name=".pesanDestinasi.ActivityInputPesan"
            android:exported="true" />
        <activity
            android:name=".pesanDestinasi.PesanActivity"
            android:exported="true" />
        <activity
            android:name=".LokasiActivity"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".hardware.QRScannerActivity"
            android:exported="true" />
        <activity
            android:name=".hardware.QRScannerMain"
            android:exported="true" />

        <receiver android:name=".PushNotif.NotificationReceiver" />
    </application>

</manifest>